/* General Rules */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 14px;
  color: #33475a;
}

/* General Rules: Navigation Lists */
nav ul{
  list-style: none;
  margin-top: 30px;
}

nav ul li{
  display: inline-block;
  padding: 0 7px;
}

nav ul li:first-child{
  padding-left: 0px;
}

nav ul li:last-child{
  padding-right: 0px;
}

nav ul li a{
  color: #33475a;
}

/* General Rules: Interactive Text */
a:hover,
a:active,
a:focus {
 color: blue;
}

a{
  text-decoration: none;
}

/* Buttons */
.button{
  padding: 8px;
  border-radius: 4px;
}

.button-white{
  border: 1px solid #fe775a;
  background-color: white;
  color: #fe775a;
}

.button-orange{
  background-color: #fe775a;
  color: white;
}

.button-grey{
  background-color: #dadee0;
  color: #33475a;
}

.button-big{
  padding: 16px;
}

.button-banner{
  position: relative;
  height: 50px;
  margin: 30px 0;
}

.button-bottom{
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, -50%);
}

/* Text */
h1{
  font-size: 50px;
  padding: 30px 0;
}

h2{
  font-size: 30px;
  padding: 15px 0;
}

h3{
  font-size: 20px;
  padding-bottom: 15px;
}

h4{
  font-size: 15px;
  padding: 25px 0;
}

.text-small{
  font-size:12px;
}

/* Colors list
#33475a Body Text
#fe775a Orange Button
#dadee0 Grey Button
#f4f9fd Background Top Header
#fff3ee Background Header Banner
#32495b Background Footer
#8797a6 Text Footer
*/

/* Utility */
.margin-container{
  height: 100%;
  width: 70%;
  margin: 0 auto;
}

.contain50{
  width:50%;
}

.contain25{
  width:25%;
}

.clearfix::after{
  content:"";
  display: table;
  clear: both;
}

.float{
  float:left;
}

.shadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

.whitebox{
  background-color: white;
}

.centerXY-item{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centerY-item{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.fake-br{
  position: relative;
}

.fake-br *:after{
  content: '';
  position: absolute;
  bottom: 50%;
  left: 65%;
  width: 65%;
  height: 1px;
  transform: translateX(-50%);
  background: grey;
}

.vanillalist{
  list-style: none;
  text-align: left;
}

.vanillalist li{
  padding: 0;
}

.vanillalist-iblock{
  list-style: none;
}

.vanillalist-iblock li{
  display: inline-block;
  padding: 20px;
}

/* Icons */
.color-search{
  color: #00a4bd;
}

/* Begin Header */
#main-header{
  background-color: #f4f9fd;
}

/* Header: Section Top Navigation */
.box-top-nav{
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  margin-bottom: 30px;
  border-bottom: 1px solid black;
  background-color: #f4f9fd;
  z-index: 1;
}

.left-top-nav{
  height: 100%;
  text-align: left;
}

.right-top-nav{
  height: 100%;
  text-align: right;
}
/* Header: End Section Top Navigation */

/* Header: Section Bottom Navigation */
.box-bottom-nav{
  margin-top: 80px;
  height: 80px;
}

.left-bottom-nav{
  height: 100%;
  text-align: left;
}

.right-bottom-nav {
  height: 100%;
  text-align: right;
}

.logo-hubspot img{
  height: 30px;
  margin: 25px 0;
}
/* Header: End Section Bottom Navigation */

/* Header: Section Banner */
.box-banner{
  height: 640px;
  background-color: #fff3ee;
  background-image: url('../img/jumbotron.png');
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-size: 1500px;
}

.box-banner .text-banner{
  height: 400px;
  width: 40%;
  background-color: #fff3ee;
}
/* Header: End Section Banner */

/* Header: Separation Bar */
.separation-bar{
  height: 80px;
  background-color: #afebe4;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
/* Header: End Separation Bar */

/* End Header */

/* Begin Main */
#general-main{
  background-color: #f4f9fd;
}

/* Main: Begin Section Powerful Alone */
.powerful{
  height: 350px;
  text-align: center;
  padding-top: 30px;
}

.powerful img{
  height: 200px;
}
/* Main: End Powerful Alone */

/* Main: Begin Section Free HubSpot CRM */
.main-crm{
  height: 400px;
  margin-top: 30px;
}

.crm-left{
  height: 100%;
  width: 40%;
  text-align: center;
}

.crm-left img{
  height: 100px;
  margin-top: 100px;
  margin-bottom: 40px;
}

.crm-right{
  height: 100%;
  width: 40%;
  text-align: left;
}

.crm-right .vanillalist-iblock li{
  padding: 0px;
}

.info{
  margin-top: 100px;
}

.info ul li:nth-child(2){
  padding-right: 10px;
  padding-left: 10px;
}

.info i{
  color: #fe775a;
  padding-right: 10px;
}

.info p{
  margin-right: 100px;
}
/* Main: End Section Free HubSpot CRM */

/* Main: Begin Section Hub Popolar Feature  */
.hub{
height: 550px;
margin-top: 30px;
}

.marketing,
.sales,
.service{
  height: 530px;
  width: calc(92%/3);
  border-radius: 2px;
  padding: 0 100px;
  text-align: center;
  position: relative;
}

.sales{
  margin: 0 4%;
}

.hub .hub-logo img{
  height: 150px;
  margin: 10px 0;
}

.hub-info{
  margin-top: 25px;
  border-top: 1px solid black;
}

.hub-info i{
  color: #fe775a;
  padding-right: 10px;
}
/* Main: End Section Hub Popolar Feature  */

/* Main: Begin Section Learn and grow */
.learn-grow{
  height: 600px;
  background: rgb(0,167,186);
  background: linear-gradient(90deg, rgba(0,167,186,1) 0%, rgba(4,173,180,1) 53%, rgba(0,183,171,1) 100%);
  text-align: center;
  color: white;
  margin-top: 30px;
  padding-top: 30px;
}

.learn-text{
  padding-bottom: 50px;
}

.learn-text p{
  margin: 0 30px;
}

.learn-grow img{
  height: 30px;
}

.logo-table-border {
  border-bottom: 1px solid white;
}

.logo-table .logo-element{
  border-left: 1px solid white;
  padding: 30px;
}

.logo-table .logo-element:nth-child(1){
  border-left: 0px solid white;
}
/* Main: End Section Learn and grow */

/* Main: Begin Section Growing With Hubspot */
.grow{
  height: 700px;
  padding: 30px 0;
}

.grow-bar{
  width: 60%;
  margin: 0 auto;
  padding: 30px 0;
}

.grow-bar-left{
  width: 40%;
  text-align: left;
}

.grow-bar-left p{
  padding-right: 300px;
}

.grow-bar-left h1{
  padding-top: 0;
}

.grow-bar-right{
  margin-left: 10%;
  width: 50%;
}

.grow-row{
  padding-bottom: 30px;
}

.grow-element{
  position: relative;
  height: 40px;
}

.grow-element img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 110px;
}

.grow-banner{
  height: 400px;
  padding-top: 50px;
}

.grow-banner .text-banner{
  height: 320px;
  width: 30%;
}

.grow-banner .text-banner h2{
  padding: 0 0 30px 0;
}

.grow-banner-right{
  height: 320px;
  position: relative;
  width: 70%;
}

.grow-banner-right img{
  height: 100%;
  position: absolute;
  top: 0;
  left: 70%;
  transform: translateX(-50%);
}
/* Main: End Section Growing With Hubspot */

/* End Main */

/* Begin Footer */
#mainfooter{
  padding-bottom: 30px;
  background-color: #32495b;
  color: #8797a6;
}

/* Footer: Begin Section Help  */
.help{
  height: 200px;
  margin-bottom: 150px;
}

.help-element{
  height: 300px;
}

.help h4{
  color: white;
}

.help-element .vanillalist li{
 padding: 8px 0;
}

.help-element .vanillalist-iblock li{
  padding: 8px;
}

/* Footer: End Section Help  */

/* Footer: Begin Section Middle Bar */
.middle-bar{
  height: 40px;
  text-align: center;
  border-bottom: 1px solid white;
}

.middle-bar .vanillalist-iblock li{
  text-align: center;
  padding: 10px;
}
/* Footer: End Middle Bar */

/* Footer: Begin Copyright Bar */
.copyright-bar{
  height: 100px;
  padding-top: 30px;
  color: white;
}

.copyright-left{
  text-align: left;
}

.copyright-right{
  text-align: right;
}

.copyright-right  .vanillalist-iblock li{
  padding: 0 0 10px 0;
}
/* Footer: End Copyright Bar */

/* End Footer */

/* Begin Chat With Us */
#mainchat{
  position: fixed;
  height: 420px;
  width: 300px;
  bottom: 0%;
  right: 0.5%;
  color: white;
  background-color: #8797a6;
  border: 1px solid white;
  border-radius: 30px 30px 0 0;
}

.chat-logo{
  position: relative;
  height: 220px;
  border-radius: 0 0 20px 20px;
}

.chat-logo img{
  height: 200px;
}

.chat-ask{
  text-align: center;
  border-bottom: 1px solid white;
}

.chat-response{
  padding: 10px;
}

.response-text{
  width: 100%;
  border-radius: 15px;
  font-size: 18px;
  background-color: #f4f9fd;
  color: #8797a6;
  padding: 5px;
}

.chat-button{
  text-align: center;
  padding: 4px 0;
}


.chat-button a{
  font-size: 18px;
}

/* End Chat With Us */
