/* General Rules */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 16px;
  color: #3a4f62;
}

nav ul{
  list-style: none;
  margin-top: 30px;
}

nav ul li{
  display: inline-block;
  padding: 0 7px;
}

nav ul li *{
  color: #3a4f62;
}




/* Typography */

.button{
  padding: 8px;
  border-radius: 4px;
}

.button-white{
  border: 1px solid #fe775a;
  background-color: white;
  color: #fe775a;
}

.button-orange{
  background-color: #fe775a;
  color: white;
}






/* Utility */
.margin-container{
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

.contain50{
  width:50%;
}

.clearfix::after{
  content:"";
  display: table;
  clear: both;
}





/* Header */
#main-header{
height: 600px;
background-color: red;
}

/* Header_Rules: Interactive Text */
#main-header a {
  text-decoration: none;
}

#main-header a:hover,
#main-header a:active,
#main-header a:focus {
  color: blue;
}

/* Header_Rules: Float Element */
.left-top-nav,
.right-top-nav,
.left-bottom-nav,
.right-bottom-nav{
  float:left;
}

/* Header: Top Nav */
.box-top-nav{
  height: 80px;
  border-bottom: 1px solid black;
  background-color: #f4f9fd;
}

.box-top-nav{
  background-color: #f4f9fd;
}

.box-top-nav .margin-container{
  background-color: #f4f9fd;
}

.left-top-nav{
  height: 100%;
  width: 70%;
  text-align: left;
}

.right-top-nav{
  height: 100%;
  width: 30%;
  text-align: right;
}

.color-search{
  color: #00a4bd;
}















/* Header: Bottom Nav */
.box-bottom-nav{
  background-color: #ffffff;
  height: 80px;
}

.left-bottom-nav {
  background-color: orange;
  height: 100%;
}

.right-bottom-nav {
  background-color: yellow;
  height: 100%;
}

/* Header: Banner */
.box-banner{
  height: 360px;
  background-image: url('../img/jumbotron.png');
}

.banner{
  height: 250px;
  background-color: azure;
}

/* Header: Separation Bar */
.separation-bar{
  height: 80px;
  background-color: #afebe4;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
