/* General Rules */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 14px;
  color: #33475a;
}

/* General Rules: Navigation Lists */
nav ul{
  list-style: none;
  margin-top: 30px;
}

nav ul li{
  display: inline-block;
  padding: 0 7px;
}

nav ul li:first-child{
  padding-left: 0px;
}

nav ul li:last-child{
  padding-right: 0px;
}

nav ul li *{
  color: #3a4f62;
}

/* General Rules: Interactive Text */
a:hover,
a:active,
a:focus {7
 color: blue;
}

a{
  text-decoration: none;
}

/* Typography */

.button{
  padding: 8px;
  border-radius: 4px;
}

.button-white{
  border: 1px solid #fe775a;
  background-color: white;
  color: #fe775a;
}

.button-orange{
  background-color: #fe775a;
  color: white;
}

.button-big{
  padding: 16px;
}

h1{
  font-size: 50px;
  padding: 30px 0;
}

h2{
  font-size: 30px;
  padding: 15px 0;
}

h3{
  font-size: 20px;
  padding-bottom: 15px;
}

h4{
  font-size: 15px;
  padding: 25px 0;
}

/* Utility */
.margin-container{
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

.contain50{
  width:50%;
}

.contain25{
  width:25%;
}

.clearfix::after{
  content:"";
  display: table;
  clear: both;
}

.float{
  float:left;
}

.button-bottom{
  position:absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, -50%);
}

.shadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

.text-small{
  font-size:12px;
}

.color-search{
  color: #00a4bd;
}

.whitebox{
  background-color: white;
}

/* Header */
#main-header{
  background-color: #f4f9fd;
}

/* Header: Section Top Navigation */
.box-top-nav{
  height: 80px;
  border-bottom: 1px solid black;
}

.left-top-nav{
  height: 100%;
  text-align: left;
}

.right-top-nav{
  height: 100%;
  text-align: right;
}

/* Header: Section Bottom Navigation */
.box-bottom-nav{
  height: 80px;
}

.left-bottom-nav{
  height: 100%;
  text-align: left;
}

.logo-hubspot img{
  height: 30px;
  margin: 25px 0;
}

.right-bottom-nav {
  height: 100%;
  text-align: right;
}

/* Header: Section Banner */
.box-banner{
  height: 640px;
  background-color: #fff3ee;
  background-image: url('../img/jumbotron.png');
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-size: 1500px;
}

.text-banner{
  height: 500px;
  width: 40%;
  background-color: #fff3ee;
}

/* Header: Banner: Sections Dimensions */
.banner-title{
 height: 250px;
}

.banner-title p{
  margin-right: 150px;
}

.banner-button{
 height: 50px;
 margin-top: 20px;
}

.banner-footer{
  height: 50px;
}

/* Header: Separation Bar */
.separation-bar{
  height: 80px;
  background-color: #afebe4;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

/* Main */
#general-main{
  height: 4000px;
  background-color: #f4f9fd;
}

/* Section Powerful Alone */
.powerful{
  text-align: center;
  padding-top: 30px;
}

.powerful img{
  height: 200px;
}

.powerful p {
  margin: 0 600px;
}

/* Section Free HubSpot CRM */
.main-crm{
  height: 400px;
  margin-top: 30px;
}

.learn-container{
  height: 100%;
  width: 40%;
  text-align: center;
}

.learn-container img{
  height: 100px;
  margin-top: 100px;
  margin-bottom: 40px;
}

.info-container{
  height: 100%;
  width: 40%;
  text-align: left;
}

.info{
  margin-top: 100px;
}

.popolar{
  position: relative;
}

.info h4::after{
  content: '';
  position:absolute;
  bottom: 50%;
  left: 65%;
  width: 65%;
  height: 1px;
  transform: translateX(-50%);
  background: grey;
}

.info ul li{
  display: inline-block;
}

.info ul li:nth-child(2){
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
}

.info i{
  color: #fe775a;
  padding-right: 10px;
}

.info p{
  margin-right: 100px;
}

/* Section Hub Popolar Feature  */
.hub{
margin-top: 30px;
text-align: center;
}

.marketing,
.sales,
.service{
  position: relative;
  height: 520px;
  width: calc(92%/3);
  border-radius: 2px;
  padding: 0 120px;
}

.sales{
  margin: 0 4%;
}

.hub .hub-row1 img{
  height: 150px;
  margin: 10px 0;
}

.hub-row2{
  margin-top: 25px;
  border-top: 1px solid black;
}

.hub-row2 ul{
  list-style: none;
  text-align: left;
}

.hub-row2 i{
  color: #fe775a;
  padding-right: 10px;
}

/* Section Learn and grow */
.learn-grow{
  height: 600px;
  background: rgb(0,167,186);
  background: linear-gradient(90deg, rgba(0,167,186,1) 0%, rgba(4,173,180,1) 53%, rgba(0,183,171,1) 100%);
  text-align: center;
  color: white;
  margin-top: 30px;
  padding-top: 30px;
}

.learn-text p{
  margin: 0 30px;
}

.learn-grow img{
  height: 30px;
}

.learn-text{
  padding-bottom: 50px;
  margin: 0 300px;
}

.logo-table-row1 .logo-element{
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  padding: 30px;
}

.logo-table-row2 .logo-element{
  border-left: 1px solid white;
  padding: 30px;
}

.logo-table .logo-element:nth-child(1){
  border-left: 0px solid white;
}

/* Section Growing With Hubspot */

.grow{
  padding-top: 30px;
}

.grow-bar{
  width: 70%;
  margin: 0 auto;
}

.grow-bar-left{
  width: 40%;
  text-align: left;
}

.grow-bar-left p{
  padding-right: 400px;
}

.grow-bar-right{
  margin-left: 10%;
  width: 50%;
}

.grow-bottom-row{
  padding-bottom: 20px;
}

.grow-element{
  position: relative;
  height: 40px;
}

.grow-element img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 130px;
}

.grow-bottom{
  height: 400px;
  padding-top: 50px;
}

.grow-bottom-left{
  width: 40%;
  padding-right: 220px;
}

.grow-bottom-button{
  margin: 60px 0;
}

.grow-bottom-right{
  position: relative;
  width: 60%;
}

.grow-bottom-right img{
  height: 300px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* Footer */
